_Chapter06/soap/myMess.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="message">
    <xsd:choice>
      <xsd:element name="reqTime">
        <xsd:complexType></xsd:complexType>
        </xsd:element>
      <xsd:element name="time" type="xsd:string"/>
      <xsd:element name="fault" type="xsd:string"/>
      </xsd:choice>
    </xsd:element>
  </xsd:schema>
